/* you can style indidivual components here */

h1 {
    font-family: 'Libre Baskerville', serif;
}
p {
    font-family: 'Source Sans Pro', sans-serif;
}

/* font-family: 'Libre Baskerville', serif;
font-family: 'Source Sans Pro', sans-serif; */